@inject UserSession Session
@inject UserSessionLoader SessionLoader
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Renova</a>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Session.Changed += StateHasChanged;
        await SessionLoader.LoadAsync();
    }

    public void Dispose()
    {
        Session.Changed -= StateHasChanged;
    }
}

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        @if (Session.CanManageUsers)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        }

        @if (Session.CanManageStudents)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="students">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alunos
                </NavLink>
            </div>
        }

        @if (Session.CanManageProfessionals)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="professionals">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profissionais
                </NavLink>
            </div>
        }

        @if (Session.CanManageEad)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="courses">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cursos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ead-progress">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Progresso EAD
                </NavLink>
            </div>
        }

        @if (Session.CanManageFinance)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="finance">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Financeiro
                </NavLink>
            </div>
        }
    </nav>
</div>
